<h1>Create a Burger!</h1>
<h1>Remember to leave a tip!</h1>
<aside>
    <nav>
        <a href="/add">Create Burger</a>
    </nav>
</aside>
<main>
    <section>
        <h2>Eat Burgers Here!</h2>
        <ul>

            {{#each burgeregrubs}}

            {{#unless devoured}}
            {{> burgeregrub/burgeregrub devour=true}}
            {{/unless}}

            {{/each}}
        </ul>
    </section>

    <section>
        <h2>These Burgers Are Gone.</h2>
        <ul>
            {{#each burgeregrubs}}
            {{#if devoured}}
            {{> burgeregrub/burgeregrub devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </section>
</main>